
<partial name="_nav"></partial>

@model CDelicious

<div class="container">
    <div class="col-lg-12">
        <h1>Add a New Dish!</h1>
    </div>
    
    <form action="/create" method="post" class="form-group">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <label asp-for="ChefName"></label>
                    <input asp-for="ChefName" class="form-control">
                </p>
                <p>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                </p>
                <p>
                    <p><span asp-validation-for="Calories" class="text-danger"></span></p>
                    <label asp-for="Calories"></label>
                    <input asp-for="Calories" class="form-control">
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <p><span asp-validation-for="Tastiness" class="text-danger"></span></p>
                    <label asp-for="Tastiness"></label>
                    <select asp-for="Tastiness">
                        <option value="">--Select--</option>
                        @for(int i = 1; i<=10;i++){
                            <option value="@i">@i</option>
                        }
                    </select>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                <textarea asp-for="Description" id="" cols="30" rows="10" class="form-control"></textarea>
                </p>
                <p>
                    <input type="submit" class="btn btn-success" value="Add Dish">
                </p>
            </div>

        </div>
    </form>
    
</div>

